{
  "Profiles": [
{% for host in groups[hosts] %}
{% if hostvars[host].ansible_hostname is defined %}
    {
       "Name": "{{ hostvars[host]['ec2_tag_Name'] }}
  {%- for item in name_vars -%}
    {%- if hostvars[host][item] is defined -%}
      -{{ hostvars[host][item] }}
    {%- endif -%}
  {%- endfor %}",
       "Guid": "{{ hostvars[host]['ec2_id'] | to_uuid }}",
       "Custom Command" : "Yes",
       "Command" : "ssh {{ username }}@{{ hostvars[host]['ec2_private_ip_address'] }}",
       "Tags" : [
{% for item in tag_vars -%}
{% if hostvars[host][item] is defined %}
            "{{ hostvars[host][item] }}",
{% endif -%}
{%- endfor %}
            "{{ hostvars[host]['ansible_distribution'] }}.{{ hostvars[host]['ansible_distribution_version'] }}"
         ],
       "Dynamic Profile Parent Name": "{{ parent_profile }}"
    },
{% endif %}
{% endfor %}
  ]
}
